* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    width: 768px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em 1em;
}

.logo {
    width: 30%;
}

.user-avatar {
    width: 7%;
    border-radius: 50%;
}

article {
    border-top: 1px solid gray;
}

section {
    display: flex;
    flex-direction: column;
}

.user-container {
    display: flex;
    padding: .75em 1em;
}

.user-wrapper {
    padding-left: .75em;
}

.social-icon {
    width: 10%;
    padding: 1em .5em .5em 1em;
}

.likes-comments {
    padding: 0 1em;
    border-bottom: 30px solid #EDEDED;
}

.likes-comments h4 {
    padding-bottom: .5em;
}

small {
    font-weight: 400;
    font-size: 1.1em;
    padding-left: .5em;
}

@media (max-width: 576px) {
    body {
        width: 100%;
    }

    .user-avatar {
        width: 12%;
    }

    .social-icon {
        width: 14%;
    }
}